@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

/*#66422D | #966045 | #B26E4B | #C7976F | #EBD2BC*/

body {
  background-color: #f0e6dd;
  margin: 0;
  font-family: "Lato", sans-serif;
}

/*Navigation Bar*/
nav {
  background-color: #66422d;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  padding: 15px;
  position: fixed;
  top: 0;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
}

nav a {
  color: #fff;
  margin-left: 15px;
  text-decoration: none;
  position: relative;
}

nav a::after {
  content: "";
  border-bottom: 1px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(10px);
  transition: transform 0.3s ease;
  opacity: 0;
  height: 100%;
  width: 100%;
}

nav a:hover::after {
  opacity: 1;
  transform: translateY(0);
}

nav p {
  opacity: 0.1;
  margin: 0;
  margin-left: 15px;
}

/*Header Cover*/
header {
  height: 100vh;
  background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/a009-kaboompics-004.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=80e37a5d8501ef34c306905cfd09993f-");
  background-size: cover;
  background-position: center center;
  position: relative;
  color: #fff;
  display: flex;
  align-items: center; /*Center vertically*/
  justify-content: center; /*Center horizontally*/
  flex-direction: column; /*Stack*/
}

header::after {
  content: "";
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.4;
}

header * {
  position: relative;
  z-index: 1;
}

header h1 {
  font-size: 60px;
  margin-bottom: 8px;
  margin-top: 0px;
}

header p {
  position: relative;
  font-size: 20px;
  margin: 0px;
}
/*Header Animation*/
header h1::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

header h1:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

header h1::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: #66422d;
  z-index: -1;
  transition: transform 0.3s ease;
  margin-left: -10px;
  margin-right: -10px;
  border-radius: 5px;
}

/* Projects */
.projects-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 650px; /*.project max-width * 2 (2 humbnails per row) + margin * 4 (left and right) */
  margin: 20px auto 0;
}

.project-tile {
  margin: 10px;
  max-width: 300px;
}

.project-tile img {
  max-width: 100%;
}

.project-tile p {
  font-size: 20px;
  margin-top: 10px;
}

/*Sections*/
section {
  padding: 30px;
  text-align: center;
}

/*Socials*/

.social-ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding: 0;
}

.social-ul a {
  color: white;
  font-size: 35px;
  margin: 0 10px;
}

section h2 {
  margin: 0;
}

section p {
  margin-top: 0;
}

.social-bg {
  background-color: #c7976f;
  color: #fff;
  margin: 0;
}

footer {
  background-color: #66422d;
  color: #fff;
  padding: 10px;
  text-align: center;
}
